.content {
   margin-left: auto;
   margin-right: auto;
   background-color: #f0e7e9;
   padding-top: 150px;
   padding-bottom: 250px;
   border-bottom: #c9c9c9 1.5px solid;
}

.catch-word {
   text-align: center;
}

h1 {
   margin-bottom: 50px;
}

.row {
   margin-right: 0px;
}