.team-members-wrapper {
    display: flex;
    flex-direction: column;
}

.team-members-wrapper h1{
    text-align: center;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
}